<!-- Se agrega de que html padre hereda-->
{% extends 'base.html' %}

<!--Bloque que cambia del titulo-->
{% block title %}
  Inicio
{% endblock %}

{% block indexactive %}
  <li class="nav-item active">
{% endblock %}
{% block groupactive %}
  <li class="nav-item">
{% endblock %}
{% block studentactive %}
  <li class="nav-item">
{% endblock %}
{% block professoractive %}
  <li class="nav-item">
{% endblock %}

<!--Bloque que cambia del contenido-->
{% block content %}
  <div class="container text-center">
    <br>
    <br>
    <hr>
    <h1>CoderApp</h1>
    <hr>
  </div>
{% endblock %}