<!-- Se agrega de que html padre hereda-->
{% extends 'base.html' %}

<!--Bloque que cambia del titulo-->
{% block title %}
  Lista de cursos
{% endblock %}
<!--Bloque que activa-->
{% block indexactive %}
  <li class="nav-item">
{% endblock %}
{% block groupactive %}
  <li class="nav-item active">
{% endblock %}
{% block studentactive %}
  <li class="nav-item">
{% endblock %}
{% block professoractive %}
  <li class="nav-item">
{% endblock %}
<!--Bloque que cambia del contenido-->
{% block content %}
  <br>
  <form class="form-inline my-2 my-lg-0 justify-content-center" action="/AppCoder/list_group" method="GET">
    <a href="/AppCoder/create_group" class="btn btn-primary">Crear curso</a>
    <input class="form-control mr-sm-2 ml-2" type="search" placeholder="Camada" aria-label="Search" name="search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
  <br>

    <table class="container table">
        <thead class="thead thead-dark">
        <tr>
            <th scope="col">N° Camada</th>
            <th scope="col">Nombre del Curso</th>
        </tr>
        </thead>
        {% for group in group %}
        <tbody>
        <tr>
            <th scope="row">{{group.group}}</th>
            <td>{{group.name}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}